[Unit]
Description=System unit to run onlogic power control

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/onlogic-power-control

[Install]
WantedBy=chassis-system-reset.target